/* Gaya Umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e7f0f8; /* Latar belakang biru muda */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tinggi viewport penuh */
}

main {
    width: 90%; /* Membuat kontainer utama sedikit lebih sempit */
    max-width: 960px;
    margin: 0 auto; /* Pusatkan secara horizontal */
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Menambahkan flex untuk memusatkan anak-anak */
    flex-direction: column;
    align-items: center; /* Memusatkan konten secara vertikal */
}

h1 {
    color: #333;
    text-align: center;
}

textarea, input[type="password"] {
    width: 80%; /* Membuat input lebih lebar */
    padding: 12px; /* Sedikit lebih banyak padding untuk estetika */
    margin-top: 5px;
    margin-bottom: 10px; /* Menambahkan margin bawah */
    border: 1px solid #bde0fe;
    box-sizing: border-box;
    display: block; /* Memastikan input adalah level block */
    margin-left: auto; /* Memusatkan input */
    margin-right: auto; /* Memusatkan input */
}

input[type="submit"] {
    width: 80%; /* Menyesuaikan lebar tombol submit dengan input */
    padding: 12px;
    margin-top: 10px;
    background-color: #b3d7ff; 
    color: #333;
    border: none;
    cursor: pointer;
    display: block; /* Memastikan tombol adalah block untuk margin */
    margin-left: auto; /* Memusatkan tombol */
    margin-right: auto; /* Memusatkan tombol */
}

input[type="submit"]:hover {
    background-color: #99c2ff;
}

/* Sistem Grid Fleksibel */
.grid {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
    width: calc(100% + 1rem);
}

.col-12, .col-6_md-12 {
    padding: 0.5rem;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-6_md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-6_md-12 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Utilitas dan Tombol */
/* Tidak perlu perubahan, tetapkan sebagai pengaturan sebelumnya */
